<%- include("partials/header") %>

<div class="d-flex flex-row justify-content-center">
  <form class="w-50 mt-3 d-flex flex-column align-items-center row g-3 needs-validation" novalidate action="/entries/<%= id %>/delete" method="post">
      <h2 class="text-center mt-3">Excluir tarefa</h2>
      <p>
        Você tem certeza que deseja excluir essa tarefa?
      </p>
      <div class=" d-flex flex-row align-items-center mt-3">
          <a href="/entries" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><i class="bi bi-arrow-left me-3"></i>Voltar</a>
          <span class="spacer"></span>
          <button type="submit" class="btn btn-danger w-25">Sim</button>
      </div>
  </form>
</div>
<%- include("partials/footer") %>